.background-imgs{
	margin: 5px 50px 25px 20px;
	padding: 0 15px;
	float: left;
	position: relative;
	cursor: pointer;
	height: 100px;
	display: block;
}

.borderstyle{
	position: absolute;
	border-bottom: 2px solid black;
	width: 75px;
	top: 34px;
	left: -8px;
}

.nametypestone{
	position: absolute;
	top:35px;
	left: 10px;
}

.total-stone{
	box-shadow: 5px 5px;
}

.gommenu-stone>.row{
	vertical-align: middle;
}




